<!DOCTYPE html>
    <html>
        <head>
            <title>
                CharGen
            </title>
        </head>
        <body>
            <h1>
                Character Archetype Generator Website
            </h1>
            <div>
                <form method="POST" action="" validate>
                    <fieldset>
                        <div>
                            <legend>Select your attributes:</legend>
                            <br><label for="name">New name:</label><br>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <div>
                            <label for="type">Type:</label><br>
                            <select id="type" name="type" required><br>
                                <option value="ranged">Ranged</option>
                                <option value="melee">Melee</option>
                            </select>
                        </div>
                        <div>
                            <label for="perk">Perk:</label><br>
                            <select id="perk" name="perk" required><br>
                                <option value="speed">Speed</option>
                                <option value="heavy">Heavy</option>
                            </select>
                            <input type="submit" value="Submit">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div>
                {{content}}
            </div>
            <div>
                <h3>UPDATE</h3>
                <div>
                 <form method="POST" action="" validate>
                     <fieldset>
                         <div>
                             <legend>Update a character name:</legend>
                             <label for="data">Data: </label><br>
                             <select id="data" name="data"><br>
                                 {%for c in characters%}
                                 <option value="{{c[0]}}">{{c[1]}}</option>
                                 {%endfor%}
                             </select>
                         </div>
                         <div>
                             <br><label for="new_data">New data:</label><br>
                             <input type="text" id="new_data" name="new_data" required>
                             <input type="submit" value="Submit">
                         </div>
                     </fieldset>
                 </form>
                </div>
             </div>
             <div>
                 <h3>DELETE</h3>
                 <div>
                     <form method="POST" action="" validate>
                         <fieldset>
                             <div>
                                 <legend>Delete a character:</legend>
                                 <label for="data">Data:</label><br>
                                 <select id="data" name="data"><br>
                                     {%for c in characters%}
                                     <option value="{{c[0]}}">{{c[1]}}</option>
                                     {%endfor%}
                                 </select>
                                 <input type="submit" value="Delete">
                             </div>
                         </fieldset>
                     </form>
                    </div>
             </div>
        </body>
    </html>    